.product_rating {
  display: flex;
}
.product {
  display: flex; /* used to crunch up in a single row */
  flex-direction: column; /* display crunched up row colmn wise */
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  max-height: 400px;
  min-width: 100px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.product > img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product_price {
  margin-top: 5px;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1 px solid;
  border-color: #a88734, #9c7e31, #846a29;
}
